@import "tailwindcss";

@theme {
  --color-dark-1: #181818;
  --color-dark-2: #0f0f0f;

  --color-gray-light: #cbcbcb;
  --color-gray-mid: #484848;
  --color-gray: #9c9c9c;
  --color-black: #000000;

  --color-primary: #007264;
}

html,
body {
  background-color: var(--color-dark-1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
}
